{{!-- <div class="page"> --}}
    {{> pages/homepage/partials/design}}
    {{> pages/homepage/partials/code}}
    {{> pages/homepage/partials/about}}
{{!-- </div> --}}

    {{> partials/footer/default}}
