<footer id="footer" class="row expanded">

    <div class="small-12 columns">

        <p class="copyright right">Chris M<sup>c</sup>Clellan &copy; 2016</p>

        <ul class="social-links no-bullet right">
            {{!-- <li><a href="#">Github</a></li>
            <li><a href="#">StackOverflow</a></li>
            <li><a href="#">Dribbble</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li> --}}
            <li class="telegram"><span>chris@chrismcclellan.com</span></li>
        </ul>

    </div>

</footer>

{{> partials/scripts}}
